<div style="text-align:center">
  <h1>
    Welcome to Security Crawl Maze!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>This is a sample Angular One Page Application generated automatically with the ng tool.</h2>
<p>
  The application contains a couple of pages which your crawler has to discover. <br>
  The navigation is done by the Angular Router.
</p>
  <div class="container">
    <a routerLinkActive="active" routerLink="/router-outlet.found">routerLink navigation</a> -
    This type of navigation uses the default Angular router way of navigating to different views.<hr>
    <button (click)="navigate()" mat-raised-button color="primary">button event handler navigation</button> -
    This case uses an event handler to trigger the <code>Router#navigate()</code> function which navigates to a different view.

    <router-outlet></router-outlet>
  </div>
