<!DOCTYPE html>
<meta charset="utf-8">
<title>CrawlMaze - Testbed for Web Crawlers.</title>
<h1>
  Welcome to the Security Crawl Maze!
</h1>
<p>
  Security Crawl Maze is a comprehensive testbed for web security crawlers.
  It contains pages representing many (hopefully all) ways in which one can link resources from a valid HTML document.
</p>
<p>
  If you want to find out more, please see our GitHub <a href="https://github.com/google/security-crawl-maze">repository</a>.
</p>
<h2> Test cases </h2>
<ul>
  <li>
    <a href="/css/">CSS</a>
  </li>
  <li>
    <a href="/headers/">Response headers</a>
  </li>
  <li>
    <a href="/html/">HTML</a>
  </li>
  <li>
    <a href="/javascript/">JavaScript</a>
  </li>
  <li>
    <a href="/misc/">Misc</a>
  </li>
</ul>
